Unit Info/obj
Unit Info/bin
Unit Info/downloaded
Unit Info/data/units/individual
Unit Info/data/courses/individual
Unit Info/data/prerequisites
Unit Info/data/parsed
# test
Unit Info/data/Factor5Data_210208_22400281073.json
