**.json

**.dll

**/obj
**/bin

#Line Test Coverage files 
**/Coverage/*
.idea/.idea.Unit Tools.dir/.idea/.gitignore
.idea/.idea.Unit Tools.dir/.idea/encodings.xml
.idea/.idea.Unit Tools.dir/.idea/indexLayout.xml
.idea/.idea.Unit Tools.dir/.idea/vcs.xml
Projects/MQHandbookAPI/.idea/.idea.MQHandbookAPI.dir/.idea/encodings.xml
Projects/MQHandbookAPI/.idea/.idea.MQHandbookAPI.dir/.idea/indexLayout.xml
Projects/MQHandbookAPI/.idea/.idea.MQHandbookAPI.dir/.idea/projectSettingsUpdater.xml
Projects/MQHandbookAPI/.idea/.idea.MQHandbookAPI.dir/.idea/workspace.xml
Projects/MQHandbookAPI/.idea/.idea.MQHandbookAPI.dir/.idea/vcs.xml
